*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
target/classes/META-INF/MANIFEST.MF
.settings/org.eclipse.m2e.core.prefs
target/classes/META-INF/maven/ExtendedCLI/ExtendedCLI/pom.properties
target/classes/META-INF/maven/ExtendedCLI/ExtendedCLI/pom.xml
/target/

### IntelliJ IDEA ###
=======
.idea
*.iws
*.iml
*.ipr
out/
.DS_Store
.idea/
ExtendedCLI.iml